.alert-success{color:white;background-color:#00C851;border-color:#007E33;}.alert-warning{color:white;background-color:#ffbb33;border-color:#FF8800;}.alert-danger{color:white;background-color:#ff4444;border-color:#CC0000;}.alert-dismissible .close{opacity:0.6;}
.affix{position:fixed;width:100%;top:0;z-index:1035;left:0;}
